{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{parent()}}
        {% endblock %}
{% block body %}
    <body class="blue">
       {% block nav %}
            {{parent()}}
        {% endblock %}
    </body>
{% endblock %}